---
  name: Lint, type check and test

  on: [push, pull_request]

  jobs:
    lint-and-type-check:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
          with:
            fetch-depth: 0
        - name: Install the latest version of uv and set the python version
          uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
          with:
            python-version: ${{ matrix.python-version }}
        - name: Run linting and type checking
          run: |
            uv run --frozen pre-commit run --all-files

    test:
      runs-on: ubuntu-latest
      strategy:
        matrix:
          python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
      steps:
        - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
          with:
            fetch-depth: 0
        - name: Install the latest version of uv and set the python version
          uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6
          with:
            python-version: ${{ matrix.python-version }}
        - name: Test with python ${{ matrix.python-version }}
          run: uv run --frozen pytest
